body {
  background: #0f172a;
  color: #e2e8f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


main {
  text-align: center;
  padding-top: 20px;
}


h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}


canvas {
  border: 2px solid #e2e8f0;
  border-radius: 6px;
}
